@charset "UTF-8";

// 字体颜色 start
$light-color: #17a2b8 !default; // 白天
$dark-color: #333333 !default; //夜晚
$pink-color: #dc3545 !default; // 粉色
// 字体颜色 end

// 背景颜色
$light-bc: #cccccc;
$dark-bc: #fff;
$pink-bc: #1234;
// 背景颜色